@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Poppins:300,400,500,700");


body {
  background-color: #f5f6fa;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: #484848;
  font-size: 14px;
  line-height: 20px;
}

h1 {
  color: rgb(72, 72, 72);
  font-size: 32px;
  line-height: 30px;
}

h2 {
  font-size: 26px;
  color: #48484d;
}

img {
  width: 80px;
  border-radius: 50px;
}

.btn-black {
  padding: 0 18px;
  background-color: white;
  border-color: #48484d;
  color: #48484d;
  border: 1px solid #48484d;
  border-radius: 4px;
  text-decoration: none;
  font-size: 17px;
  line-height: 37px;
  font-weight: lighter;
}

.btn-black:hover {
  background-color: #48484d;
  color: white;
}

.icon-link-blue {
  font-size: 35px;
  color: #3b5998;
}

.icon-link-blue:hover {
  font-size: 35px;
  color: #48484d;
}

.icon-link-black {
  font-size: 35px;
  color: black;
}

.icon-link-black:hover {
  font-size: 35px;
  color: #48484d;
}

.container {
  text-align: center;
}

.card-white-box-shadow-border-solid-black {
  margin: 20px 200px 20px 200px;
  background: white;
  padding: 5px 50px 5px 50px;
  border-radius: 10px;
  box-shadow: 0 10px 5px rgba(0,0,0,.2);
}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}

@media (max-width: 960px) {
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  .container {
    width: 300px;
  }
}


